<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Place Delivery</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="order-confirm common-bg cart">
  <div class="card address-methods">
    <div class="card-header" padding>
      <h4>Shipping address:</h4>
      <div *ngIf="isAddressUpdated">
        <div class="spinner-overlay"></div>
        <ion-spinner name="crescent" class="address-spinner"></ion-spinner>
      </div>
      <div *ngFor="let item of address.addresses;">
        <ion-item>
          <ion-label>
            {{item.firstname}} {{item.lastname}}<br />
            {{item.street}}<br />
            {{item.city}}, {{item.region.region}} {{item.postcode}}<br />
            {{item.telephone}}
          </ion-label>
          <ion-radio [checked]="address.selected === item" [value]="item.id" (click)="changeAddress(item)"></ion-radio>
        </ion-item>
      </div>
    </div>
    <div padding *ngIf="address.noNewAddress">
      <span ion-button item-right color="secondary" (click)="showAddress()">Add a new address</span>
    </div>
  </div>
  <div class="card shipping-methods">
    <div class="card-header" padding>
      <h4>Shipping Methods:</h4>
      <div *ngIf="isShippingMethodUpdated">
        <div class="spinner-overlay"></div>
        <ion-spinner name="crescent" class="shipping-methods-spinner"></ion-spinner>
      </div>
      <div *ngFor="let item of shippingMethods;">
        <ion-item>
          <ion-label>
            {{item.amount | currency:currencySym:true}} {{item.method_title}} {{item.carrier_title}}
          </ion-label>
          <ion-radio [checked]="shippingMethods.selected === item" [value]="item.carrier_code" (click)="chooseShippingMethods(item)"></ion-radio>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="cart-footer" padding>
  <ion-buttons end>
    <button ion-button class="order-confirm-btn" [disabled]="isShippingMethodUpdated || cartLoader" (click)="buy()" color="blue">
      PLACE DELIVERY
    </button>
  </ion-buttons>
</ion-footer>
