<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Orders Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="order-received common-bg">
  <div *ngIf="orders">
    <div>Thank you. Your order has been received.</div>
    <div class="card light-bg" margin-top>
      <div class="card-header" padding>
        <div>Order # {{ orders.entity_id }}</div>
        <div>Order Date: {{ orders.created_at | date: 'MMM MM, yyyy' }}</div>
      </div>

      <ion-list class="list-full-border" no-margin>
        <ion-item class="product" *ngFor="let item of orders.items;">
          <div>
            <div text-wrap>{{ item.name }}</div>
            <div padding-bottom>
              <span class="pull-right">{{ item.price | currency:currencySym:true }} x {{ item.qty_ordered }}</span>
              <div class="clear"></div>
            </div>
          </div>
        </ion-item>
      </ion-list>

      <div class="card-footer" padding>
        <div>
          <span class="pull-left" ion-text color="gray">Total</span>
          <span class="pull-right bold" ion-text color="danger">{{ orders.grand_total | currency:currencySym:true }}</span>
          <div class="clear"></div>
        </div>
      </div>
      <div padding>
      	<span ion-button item-right color="secondary" (click)="continue()">Continue Shopping</span>
      </div>
    </div>
  </div>
</ion-content>
